.highCharts .charts{
    width: 100%;
    height: 430px;
    background-color: black;
    display: flex;
    padding-left: 180px;
}
.highCharts .charts #container{
    width: 550px;
    height: 400px;
    padding: 10px;
}
.highCharts .charts #container2{
    width: 550px;
    height: 400px;
    padding: 10px;
}
.highCharts .charts2{
    width: 100%;
    height: 4200px;
    background-color: black;
    margin: 0 auto;
    padding: 0 auto;
}
.highCharts .charts2 #container3{
    width: 95%px;
    height: 1000px;
    padding: 10px;
}
.highCharts .charts2 #container4{
    width: 95%px;
    height: 3000px;
    padding: 10px;
}
p {
    color: blanchedalmond;
}